* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  line-height: 165%;
  letter-spacing: 0px;
  background-color: #fff;
  color: #808397;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1144px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero {
  max-width: 1440px;
  height: 100vh;
  background-image: url("../images/desktop/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-logo {
  width: 170px;
  height: 33px;
}

.header-logo img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.burger-icon {
  display: none;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 48px;
}

.menu-item {
  color: #fff;
  transition: all 0.3s ease 0s;
}

.menu-item:hover {
  text-decoration: underline;
}

.menu-button {
  width: 140px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 32px;
  font-family: "Fraunces", serif;
  font-size: 15px;
  line-height: 165%;
  letter-spacing: 1px;
  color: #24303E;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.5s ease 0s;
}

.menu-button:hover {
  background-color: #19536C;
  color: #fff;
}

@media (max-width: 767.98px) {
  .header {
    max-width: 688px;
    padding: 0 40px;
    position: relative;
  }
  .burger-icon {
    display: block;
    width: 32px;
    height: 24px;
    position: relative;
    transition: all 0.3s ease 0s;
  }
  .burger-icon span {
    width: 32px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    transition: all 0.3s ease 0s;
  }
  .burger-icon span::before {
    content: "";
    width: 32px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    transition: all 0.3s ease 0s;
  }
  .burger-icon span::after {
    content: "";
    width: 32px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
    transition: all 0.3s ease 0s;
  }
  .menu {
    position: absolute;
    top: 70px;
    left: 24px;
    right: 24px;
    width: auto;
    min-height: 330px;
    background: #fff;
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  }
  .menu.open-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .menu::after {
    content: "";
    position: absolute;
    top: -24px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-bottom: 24px solid #fff;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .menu-item {
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 4px;
    color: #808397;
  }
  .menu-button {
    background-color: #FAD400;
    color: #24303E;
  }
  .burger-icon.active span {
    background: transparent;
  }
  .burger-icon.active span::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .burger-icon.active span::after {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}
@media (max-width: 424.98px) {
  .header-logo {
    width: 123px;
    height: 24px;
  }
}
.hero-title {
  margin-top: 96px;
  text-align: center;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 112%;
  letter-spacing: 9px;
  font-family: "Fraunces", serif;
  color: #fff;
}

.hero-arrow {
  width: 30px;
  height: 107px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hero-arrow img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media (max-width: 767.98px) {
  .hero-title {
    margin-top: 54px;
  }
}
@media (max-width: 424.98px) {
  .hero-title {
    font-size: 42px;
    line-height: 125%;
    letter-spacing: 6px;
    margin-top: 40px;
  }
}
.none {
  display: none;
}

.transform {
  display: flex;
  align-items: center;
}

.content-main {
  flex: 0 1 720px;
  padding-inline: 8%;
}

.block-main {
  max-width: 445px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-main {
  font-family: "Fraunces", serif;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #24303E;
  text-align: center;
}

.text-main {
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #808397;
}

.link-main {
  font-family: "Fraunces", serif;
  font-size: 15px;
  line-height: 162%;
  letter-spacing: 1px;
  color: #24303E;
  font-weight: 700;
  position: relative;
  display: inline;
  width: fit-content;
  background-image: linear-gradient(#FAD400, #FAD400);
  background-size: 140% 10px;
  background-repeat: no-repeat;
  background-position: left bottom 2px;
  border-radius: 10px;
  overflow: hidden;
}

.image-main {
  flex: 0 1 720px;
}

.image-main img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

@media (max-width: 767.98px) {
  .transform {
    flex-direction: column-reverse;
  }
  .content-main {
    flex: none;
    width: 100%;
  }
  .image-main {
    flex: none;
    width: 100%;
  }
  .content-main {
    padding-top: 67px;
    padding-bottom: 67px;
    max-width: 451px;
    margin: 0 auto;
  }
  .block-main {
    gap: 32px;
    text-align: center;
  }
  .link-main {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 424.98px) {
  .block-main {
    gap: 24px;
  }
  .title-main {
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0px;
  }
}
.standout {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.standout-block_link {
  background-image: linear-gradient(#FE7766, #FE7766);
  background-size: 140% 10px;
  background-repeat: no-repeat;
  background-position: left bottom 2px;
}

@media (max-width: 767.98px) {
  .standout {
    flex-direction: column-reverse;
  }
}
.services {
  display: flex;
  align-items: center;
}

.service {
  flex: 0 1 50%;
  min-height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 24px 60px;
}

.service-graphic {
  background-image: url("../images/desktop/image-graphic-design.jpg");
}

.service-photography {
  background-image: url("../images/desktop/image-photography.jpg");
}

.service-content {
  max-width: 339px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.service-title {
  font-size: 28px;
  line-height: 125%;
  letter-spacing: 0px;
  font-weight: 700;
  font-family: "Fraunces", serif;
}

.service-title-graphic {
  color: #24554A;
}

.service-title-photo {
  color: #052C3B;
}

.service-text {
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0px;
}

.service-text-graphic {
  color: #3E7467;
}

.service-text-photo {
  color: #19536C;
}

@media (max-width: 766.98px) {
  .services {
    flex-direction: column;
  }
  .service {
    flex: none;
    width: 100%;
  }
}
@media (max-width: 424.98px) {
  .service-graphic {
    background-image: url("../images/mobile/image-graphic-design.jpg");
  }
  .service-photography {
    background-image: url("../images/mobile/image-photography.jpg");
  }
}
.testimonials {
  padding-top: 162px;
  padding-bottom: 162px;
}

.testimonials-title {
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 4px;
  color: #A7AAAD;
  text-transform: uppercase;
  text-align: center;
}

.testimonials-row {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.testimonials-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 350px;
}

.column-testimonials_image {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
}

.column-testimonials_image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.column-testimonials_text {
  padding-top: 58px;
  text-align: center;
  font-size: 18px;
  line-height: 165%;
  color: #5B636D;
}

.column-testimonials_info {
  display: flex;
  flex-direction: column;
  padding-top: 82px;
  gap: 8px;
  align-items: center;
}

.column-testimonials_name {
  font-family: "Fraunces", serif;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0px;
  font-weight: 700;
  color: #24303E;
}

.column-testimonials_ocupation {
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0px;
  color: #A7AAAD;
}

@media (max-width: 767.98px) {
  .testimonials {
    padding-top: 71px;
    padding-bottom: 71px;
  }
  .testimonials-row {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
