@use "variables";

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;
}
.container{
    max-width: 1144px;
    margin: 0 auto;
    padding: 0 15px;

}

// ====================================================

.hero{
    max-width: 1440px;
    height: 100vh;
    background-image: url("../images/desktop/image-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 32px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-logo{
    width: 170px;
    height: 33px;
}
.header-logo img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.burger-icon{
    display: none;
}
.menu-list{
    display: flex;
    align-items: center;
    gap: 48px;
}
.menu-item{
    color: variables.$white;
    transition: all 0.3s ease 0s;
}
.menu-item:hover{
    text-decoration: underline;
}
.menu-button{
    width: 140px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$white;
    border-radius: 32px;
    font-family: "Fraunces", serif;
    font-size: 15px;
    line-height: 165%;
    letter-spacing: 1px;
    color: variables.$grey950;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.5s ease 0s;

}
.menu-button:hover{
    background-color: variables.$blue800;
    color: variables.$white;
}
@media (max-width: 767.98px) {
    .header{
        max-width: 688px;
        padding: 0 40px;
        position: relative;
    }
    .burger-icon{
        display: block;
        width: 32px;
        height: 24px;
        position: relative;
        transition: all 0.3s ease 0s;
    }
    .burger-icon span{
        width: 32px;
        height: 2px;
        background-color: variables.$white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        transition: all 0.3s ease 0s;

    }
    .burger-icon span::before{
        content: "";
        width: 32px;
        height: 2px;
        background-color: variables.$white;
        position: absolute;
        top: 12px;
        left: 0;
        right: 0;
        transition: all 0.3s ease 0s;

    }
    .burger-icon span::after{
        content: "";
        width: 32px;
        height: 2px;
        background-color: variables.$white;
        position: absolute;
        bottom: 12px;
        left: 0;
        right: 0;
        transition: all 0.3s ease 0s;

    }
    .menu{
        position: absolute;
        top: 70px;
        left: 24px;
        right: 24px;
        width: auto;
        min-height: 330px;
        background: variables.$white;

        transform: translateY(-20px);
        opacity: 0;
        visibility: hidden;

        transition:
            transform 0.3s ease,
            opacity 0.3s ease,
            visibility 0.3s ease;
    }
    .menu.open-menu {
       transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    .menu::after{
        content: "";
        position: absolute;
        top: -24px;
        right: 0;
        width: 0;
        height: 0;
        border-left: 24px solid transparent;
        border-bottom: 24px solid #fff;
    }
    .menu-list{
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .menu-item{
        font-size: 20px;
        line-height: 125%;
        letter-spacing: 4px;
        color: variables.$grey550;
    }
    .menu-button{
        background-color: variables.$yeloow500;
        color: variables.$grey950;
    }

    .burger-icon.active span{
        background: transparent;
    }
    .burger-icon.active span::before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    .burger-icon.active span::after {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    
}
@media (max-width: 424.98px) {
    .header-logo{
        width: 123px;
        height: 24px;
    }
}

.hero-title{
    margin-top: 96px;
    text-align: center;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 112%;
    letter-spacing: 9px;
    font-family: "Fraunces", serif;
    color: variables.$white;
}
.hero-arrow{
    width: 30px;
    height: 107px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.hero-arrow img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

@media (max-width: 767.98px) {
    .hero-title{
        margin-top: 54px;
    }
}
@media (max-width: 424.98px) {
    .hero-title{
        font-size: 42px;
        line-height: 125%;
        letter-spacing: 6px;
        margin-top: 40px;
    }
}

.none{
    display: none;
}


// ========================================
.transform{
    display: flex;
    align-items: center;
}
.content-main{
    flex: 0 1 720px;
    padding-inline: 8%;

}
.block-main{
    max-width: 445px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.title-main{
    font-family: "Fraunces", serif;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0px;
    color: variables.$grey950;
    text-align: center;
}
.text-main{
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0px;
    color: variables.$grey550;
}
.link-main{
    font-family: "Fraunces", serif;
    font-size: 15px;
    line-height: 162%;
    letter-spacing: 1px;
    color: variables.$grey950;
    font-weight: 700;
    position: relative;
    z-index: 6;
}
.link-main::before{
    content: "";
    position: absolute;
    width: 137px;
    height: 10px;
    background-color: variables.$yeloow500;
    border-radius: 15px;
    bottom: 0;
    left: -10px;
    z-index: -5;
}
.image-main{
    flex: 0 1 720px;
}
.image-main img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

@media (max-width: 767.98px) {
    .transform{
        flex-direction: column-reverse;
    }
    .content-main{
        flex: none;
        width: 100%;
    }
    .image-main{
        flex: none;
        width: 100%;
    }
    .content-main{
       padding-top: 67px;
       padding-bottom: 67px;
       max-width: 451px;
       margin: 0 auto;
    }
    .block-main{
        gap: 32px;
        text-align: center;
    }
    .link-main::before{
        left: 97px;
    }
}
@media (max-width: 424.98px) {
    .block-main{
        gap: 24px;
    }
    .title-main{
        font-size: 32px;
        line-height: 125%;
        letter-spacing: 0px;
    }
}
