$black: #000;
$white: #fff;

$green800: #24554A;
$green600: #3E7467;
$green500: #458D7E;
$green300: #90D4C6;

$grey950: #24303E;
$grey600: #5B636D;
$grey550: #808397;
$grey400: #A7AAAD;

$blue950: #052C3B;
$blue800: #19536C;

$red400: #FE7766;

$yeloow500: #FAD400;